// Grid test

.grid-test__row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin: $space-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    height: 5rem;

    &:not(:last-child) {
      margin-right: $space-horizontal;
    }
  }

  // .col-1-of-2 {
  //   @include float-1-2;
  // }

  .col-1-of-2 {
    width: calc(((100% - 2 *#{$space-horizontal}) / 2));
  }

  .col-1-of-3 {
    width: calc(((100% - 2 *#{$space-horizontal}) / 3));
  }

  // .col-1-of-3 {
  //   @include float-1-3;
  // }

  // .col-2-of-3 {
  //   width: calc(
  //     2 * ((100% - 2 *#{$space-horizontal}) / 3) + #{$space-horizontal}
  //   );
  // }

  // .col-2-of-3 {
  //   @include float-2-3;
  // }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$space-horizontal}) / 4);
  }

  // .col-1-of-4 {
  //   @include float-1-4;
  // }

  // .col-2-of-4 {
  //   width: calc(
  //     ((100% - 3 * #{$space-horizontal}) / 4) * 2 + #{$space-horizontal}
  //   );
  // }

  // .col-2-of-4 {
  //   @include float-2-4;
  // }

  // .col-3-of-4 {
  //   width: calc(
  //     ((100% - 3 * #{$space-horizontal}) / 4) * 3 + 2 * #{$space-horizontal}
  //   );
  // }

  // .col-3-4 {
  //   @include float-3-4;
  // }
}

// /Grid test
