// Feature section

.features__feature {
  height: 30rem !important;
  padding: 3rem 1rem 2rem 1rem;
  margin-top: 17rem;
  background-color: #eee;
  text-align: center;
  &:hover {
    transform: translateY(-2rem);
    transform: scale(1.05);
    transition: all 0.3s;
    cursor: pointer;
  }
  h4 {
    margin: 1rem;
    text-transform: uppercase;
  }

  [class^="icon-"] {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.features > * {
  transform: skewY(7deg);
}

// /Feature section
