// About section

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10rem;
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0 1.5rem 3rem rgba(black, 0.2);
    transition: all 0.2s;
  }

  letter-spacing: 2px;
}

.heading-tertiary {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  .about-paragraph {
    font-size: 10rem;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

// About section

// Card sectin

.explorer {
  text-align: right;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary-light-1, 0.8),
    rgba($color-secondary-light-2, 0.8)
  );
  color: #f7f7f7;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 2.4rem;
  position: absolute;
}

.explorer__2 {
  text-align: right;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
}

.explorer__3 {
  text-align: right;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-tertiary-light-1, 0.8),
    rgba($color-tertiary-light-2, 0.8)
  );
}

.explorer-1 {
  margin-top: -11rem;
  margin-left: 19rem;
}

.explorer-2 {
  margin-top: -9rem;
  margin-left: 16.2rem;
}

.cards__card--list {
  color: #111;
  text-align: center;
  margin-top: -3rem;

  li {
    list-style: none;
    padding: 1rem 0;
  }

  hr {
    width: 80%;
    margin: 0 auto;
    opacity: 0.2;
  }
}

// /Card section
